.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.vs/Open-Badge-Publisher/v17/.suo
/build-2
/bp-23-01-12a
/Examples/prodPublishError.png
badgePublisher_*
/.vs/Open-Badge-Publisher/FileContentIndex
/.vs/VSWorkspaceState.json
/full.env
/backup.env
/.vs/Open-Badge-Publisher/v17
/.vs/slnx.sqlite
